{% extends "base.html" %}
{% load static %}

{% block title %}{{job.job_title}}{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "jobs/job-details.css" %}" />
{% endblock  %}

{% block content %}
    <section id="summary">
        <h2>{{job.job_title}}</h2> 
        <p>{{job.location}}</p>
        <article>
            <p>{{job.company}}</p>
            <p>{{job.date_posted}}</p>
            <p>{{job.pay_rate}}</p>
        </article>
        <main>
            <p>
                {{job.description}}            
            </p>
        </main>
    </section/>
{% endblock %}